@media (min-width: 576px){
    body{
        zoom: 46%;
    }


    .main-slider {
        background-position: center;
        height: 75vh;
    }

    .main-slider>a {
        line-height: 7;
    }

    .partners > a > img{
        width: 330px;
        height: 110px;
    }

    
}

@media (min-width: 768px){
    body{
        zoom: 62%;
    }

    .main-slider{
        background-position: center;
    }
    
}

@media (min-width: 992px){
    body{
        zoom: 82%;
    }

    .main-slider{
        background-position: center;
    }
    
}

@media screen and (min-width: 1290px) and (max-width: 1510px) {
    body {  
        zoom: 100%;
    }

    .main-slider{
        background-position: center;
    }

    header .menu>li>a{
        padding: 5px 7px;
      }
    
 }

 @media screen and (min-width: 1511px) and (max-width: 1731px) {
    body {  
        zoom: 110%;
    }

    header .menu>li>a{
        padding: 5px 7px;
    }
    
 }

 @media screen and (min-width: 1732px) and (max-width: 2048px) {

    body {  
        zoom: 125%;
    }

    .main-slider {
        background-position: center;
        height: 60vh;
    }

    .main-slider>a {
        line-height: 10;
    }
   
    header .menu>li>a{
        padding: 5px 15px;
    }

    .partners > a > img{
        width: 320px;
        height: 90px;
    }
}








body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.logo img {
    width: 15rem;
    height: 8rem;
    padding: 0px 15px;
}

header .menu {
    float: right;
    margin: 0px -15px;
    font-size: .95em;
    padding-right: 16rem;
}

.menu>li {
    list-style: none;
    display: inline-block;
}

header .menu>li>a {
    /* padding: 5px 15px; */
    line-height: 8rem;
    color: aliceblue;
    font-family: fantasy;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .3s;
    margin-right: 7px;

    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

header .menu>li>a:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
}

header {
    position: absolute;
    left: 0;
    right: 0;

    z-index: 1000;
    background-color: rgba(214, 214, 248, 0.356);
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 5.4rem;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content a {
    font-family: fantasy;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
    background-color: rgba(214, 214, 248, 0.356);
    text-shadow: 10px 5px 15px black;
    letter-spacing: 0.8px;
    font-weight: lighter;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .dropdown-content .first{
    background-color: rgba(214, 214, 248, 0);
  }

  .dropdown-content a:hover {
    background-color: #202644c5;
    }

    .dropdown:hover .dropdown-content {
    display: block;
   }

   .dropdown > a{
    cursor: default;
   }


.main-slider {
    background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.329)),url(https://4kwallpapers.com/images/wallpapers/resident-evil-village-winters-expansion-shadows-of-rose-2560x1440-8959.jpg);
    position: relative;
    background-size: cover;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 0px 90px 5px rgb(0, 0, 0);
}

.main-slider::after {
    background: rgba(0, 0, 0, .3);
}

.main-slider>a {
    color: antiquewhite;
    font-size: 5rem;
    opacity: 0.8;
    font-family: fantasy;
    font-weight: lighter;
    /* line-height: 10; */
}

.partners{
    /* padding-bottom: 0; */
    background-image: linear-gradient(rgba(55, 51, 95, 0.877), rgb(16, 17, 51));
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 7rem;
}

.partners > a > img {
    font-size: 20px;
    /* width: 280px;
    height: 90px; */
    line-height: 36px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    color: #fff;
    opacity: 0.55;
    margin-bottom: 5rem;
  }

  .partners > a .second{
    margin-bottom: 0;
  }

  
.partners > a > img:hover {
    opacity: 0.9;
  }

  footer{
    background-image: linear-gradient(rgb(16, 17, 51), rgb(0, 0, 0));
    display: block;
    text-align: center;
    font-family:fantasy;
    padding-bottom: 20px;
}

.footer-logo > img{
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 0px 0px 9px 5px rgba(255, 255, 255, 0.781);
    width: 100px;
    height: 60px;
    margin: 30px 0px;
}

.footer-links > li{
    list-style: none;
    display: inline-block;
}

.footer-links > li > a{
    color:aliceblue;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 1.2rem;
    margin-right: 7px;
}

.footer-text{
    font-size: 0.66rem;
    color: rgb(122, 122, 122);
}

.social{
    padding-bottom: 20px;
}

.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
  }
  
.social > a:hover {
    opacity: 0.9;
  }